<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.micharski.d_ball">
    <uses-sdk android:minSdkVersion="23" />
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
